<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Создан заказ</title>
</head>
<body>
<div class="container">
    <p>Вы сделали заказ, номер {{ order.id }}</p>
    <p>Состав заказа:</p>

    <table>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        {% set total_sum = 0 %}
        {% for order_item in order.orderItems %}

        <tr>
            <td>{{ order_item.product.title }}</td>
            <td>{{ order_item.product.getCurrentPrice() }}</td>
            <td>{{ order_item.quantity }}</td>
            <td>{{ order_item.product.getCurrentPrice() * order_item.quantity }}</td>
        </tr>
            {% set total_sum = total_sum + order_item.product.getCurrentPrice() * order_item.quantity  %}
        {% endfor %}
    </table>

    <p>Общая сумма заказа: {{ total_sum }}</p>

</div>
</body>
</html>